<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<form action="/" method="post">
		<h1>Signup Here</h1>
		<label>name
			<input type="text" name="username" required>
		</label>
		<label>email
			<input type="email" name="email" required>
		</label>
		<label>password
			<input type="password" name="password" required>
		</label>
		
		<button>Signup</button>
	</form>
	<h3>Already Signed up? <a href="/login">Login Here</a></h3>

</body>
</html>